.dynamic-width {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    max-width: 100%;
}


.align-left {
    margin-right: auto;
    margin-left: 0;
}

.align-right {
    margin-left: auto;
    margin-right: 0;
}
