/* 
Dynamic Width Image
Use this class for images that you want to dynamically resize based on data attributes.
This class centers the image by default. To align the image to the left or right, use the `data-align` attribute.

Markup:
<img src="/path/to/image.jpg" class="dynamic-width" alt="Description">
<img src="/path/to/image.jpg" class="dynamic-width" data-width="300" alt="Description">
<img src="/path/to/image.jpg" class="dynamic-width" data-height="200" alt="Description">
<img src="/path/to/image.jpg" class="dynamic-width" data-width="300" data-height="200" alt="Description">
<img src="/path/to/image.jpg" class="dynamic-width" data-align="left" alt="Description">
<img src="/path/to/image.jpg" class="dynamic-width" data-align="right" alt="Description">

Styleguide Components.Images.DynamicWidth
*/
.dynamic-width {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    max-width: 100%;
}

/* 
Left Alignment for Dynamic Width Image
Use this class in conjunction with `.dynamic-width` to align the image to the left.

Styleguide Components.Images.AlignLeft
*/
.align-left {
    margin-right: auto;
    margin-left: 0;
}

/* 
Right Alignment for Dynamic Width Image
Use this class in conjunction with `.dynamic-width` to align the image to the right.

Styleguide Components.Images.AlignRight
*/
.align-right {
    margin-left: auto;
    margin-right: 0;
}


.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative; /* To create a relative context for the image and black background */
    overflow: hidden; /* Hide any overflowing content */
}

.project img {
    width: 100%; /* Ensure the image fills the container width */
    height: auto; /* Let the height adjust proportionally based on width */
    object-fit: cover; /* Maintain aspect ratio */
    transition: filter 0.3s ease; /* Smooth transition for blur effect */
}

.project-title,
.project-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.project-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
}
.project:hover img {
    filter: blur(5px); /* Blur effect on hover */
}

.project:hover .project-title,
.project:hover .project-description {
    opacity: 1; /* Show title and description on hover */
}

/* For smaller screens, change the layout to a single column */
@media screen and (max-width: 600px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}