<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="{{ site.baseurl }}/assets/images/me.jpeg" alt="Your Picture" class="sidebar-picture">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="sidebar-social">
        <a href="https://www.linkedin.com/in/sharma97/" target="_blank">
          <img src="{{ site.baseurl }}/assets/images/linkedin-logo.png" alt="LinkedIn" style="max-width: 50px;">
        </a>

        <a href="https://github.com/97harsh" target="_blank">
          <img src="{{ site.baseurl }}/assets/images/github-logo.png" alt="GitHub" style="max-width: 50px;">
        </a>
      </div>

      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
