<footer id="colophon" class="site-footer inner">
  {% if site.params.footer.content or site.params.footer.links %}
  <div class="site-footer-inside">
    {% if site.params.footer.content %}
    <span class="copyright">{{ site.params.footer.content | safe }}</span>
    {% endif %}
    {% for link in site.params.footer.links %}
      <a href="{{ link.url | relative_url }}" {% if link.new_window %}target="_blank" rel="noopener"
      {% endif %}>{{ link.label }}</a>
    {% endfor %}
  </div><!-- .site-footer-inside -->
  {% endif %}
  <a id="to-top" class="to-top" href="#page">To top <span class="icon-arrow-up" aria-hidden="true"></span></a>
</footer><!-- .site-footer -->