{% if site.params.header.has_nav or site.params.header.has_social %}
<nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
  <div class="site-nav-wrap">
    <div class="site-nav-inside">

      {% if site.params.header.has_nav %}
      <ul class="menu">
        {% for action in site.params.header.nav_links %}
          {% set pageUrl = page.url | trim('/') %}
          {% set actionUrl = action.url | trim('/') %}
          <li {{ classNames('menu-item', {'current-menu-item': pageUrl == actionUrl }) }}>
            <a href="{{ action.url | relative_url }}"{% if action.new_window %} target="_blank" rel="noopener"{% endif %}>{{ action.label }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if site.params.header.has_social %}
      <div class="social-links">
        {% for action in site.params.header.social_links %}
        {% if action %}
        <a {{ classNames({'button-circle': action.style == 'icon'}) }} href="{{ action.url | relative_url }}"{% if action.new_window %} target="_blank" rel="noopener"{% endif %}>
          {% if action.style == 'icon' and action.icon_class %}
          <span class="fab {{ action.icon_class }}" aria-hidden="true"></span><span class="screen-reader-text">{{ action.label }}</span>
          {% else %}
          {{ action.label }}
          {% endif %}
        </a>
        {% endif %}
        {% endfor %}
      </div><!-- .social-links -->
      {% endif %}

    </div><!-- .site-nav-inside -->
  </div><!-- .site-nav-wrap -->
</nav><!-- .site-navigation -->
<button id="menu-toggle" class="menu-toggle"><span class="screen-reader-text">Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
{% endif %}

